body {
    font-family:'Times New Roman', Times, serif;
    font-size: 16pt; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#A4 {
    height: 1754px;
    width: 1240px;
    padding: 2rem 3rem;
    border: 1px solid black;
}

#logo {
    height: 12rem;
    margin: 5px 0px;
    float: left;    
}

span {
    font-size: 18pt;
    font-weight:bold;  
}

a {
    color: black;
}

h1 {
    margin: 0;
}

h1 > hr {
    margin: 0;
}

#A4.container {
    flex-direction: column;
    gap: 1%
}


.container {
    display: flex;
    justify-content: space-between;
}

.details {
    min-width: 60%;
    display: flex;
    align-items: flex-end;
}

.contact {
    min-width: 40%;
    text-align: right;
    align-self:flex-end;
}

