body {
    font-family:'Times New Roman', Times, serif;
    font-size: 16pt; 
    display: flex;
    justify-content: center;
    align-items: center;
}


#A4 {
    height: 1754px;
    width: 1240px;
    padding: 2rem 4rem;
    border: 2px solid lightgray;
}

#logo {
    height: 11rem;
    margin: 0px;
    border-radius: 50%;
}

span#name {
    font-size: 20pt;
    font-weight:bold;  
}

a {
    color: black;
}

h1 {
    margin: 0;
}

hr {
    margin: 0;
}

h2, h1{
    margin: 0;
    font-variant: small-caps;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}





#A4.container {
    flex-direction: column;
    gap: 1%
}


.container {
    display: flex;
    justify-content: space-between;
}

.details {
    min-width: 60%;
    display: flex;
    align-items: center;
}

.contact {
    min-width: 40%;
    text-align: right;
    align-self: center;
}



.education > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.education > ul > li {
    display:flex;
    justify-content: space-between;
}

.right {
    text-align: right;
    font-size: 14pt;
}

.italics {
    font-style: italic;
}

p .italics {
    padding: 1rem;
    font-size: 14pt;
}
.bold {
    font-weight: bold;
}












.nobullet {
    list-style:none;
    margin: 0;
    padding-left: 1rem;
    
}



