body {
    font-family: "Times New Roman", serif;
    font-size: 14pt; 
    display: flex;
    justify-content: center;
    align-items: center;
}


#A4 {
    height: 1754px;
    width: 1240px;
    padding: 2rem 4rem;
    border: 2px solid lightgray;
}

#logo {
    height: 11rem;
    margin: 0px;
    border-radius: 50%;
}

span#name {
    font-size: 20pt;
    font-weight:bold;  
}

a {
    color: black;
}

hr {
    margin: 0;
}

h2, h1{
    margin: 0;
    font-variant: small-caps;
}

h2 {  
    font-size:x-large;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}





#A4.container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1%;
}


.container {
    display: flex;
    justify-content: space-between;
    
}

.details {
    min-width: 60%;
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.contact {
    min-width: 40%;
    text-align: right;
    align-self: center;
    font-size: 16pt;
}



ul, .level2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

ul > li {
    display:flex;
    justify-content: space-between;
}

.right {
    text-align: right;
}

.italics {
   font-style: italic;
}

p .italics {
    padding: 0.5rem;
}
.bold {
    font-weight: bold;
    font-size: 14pt;
}

.level3 {
    padding-left: 1.5rem;
}













.nobullet {
    padding-left: 0.5rem;
}



